.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2196F3; /* Azul */
  }
  
  .login-card {
    width: 500px;
    background-color: white;
    padding: 16px;
  }
  
  .full-width {
    width: 100%;
  }

  .buttons-login{
    margin: 3px;
  }

  .title-center{
    align-self: center;
  }