<mat-toolbar>
    <div>
      <span>{{ aulaAtual?.id ? 'Editar Aula' : 'Adicionar Aula' }}</span>
    </div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="ml-auto" aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <mat-dialog-content *ngIf="aulaForm">
    <form [formGroup]="aulaForm" (ngSubmit)="salvarAula()">
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Descrição" formControlName="descricao" required>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Professor</mat-label>
          <mat-select formControlName="professor" required>
            <mat-option *ngFor="let professor of professoresDisponiveis" [value]="professor.id">
              {{ professor.nomeCompleto }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Turma</mat-label>
          <mat-select formControlName="turma" required>
            <mat-option *ngFor="let turma of turmasDisponiveis" [value]="turma.id">
              {{ turma.descricao }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Data da Aula</mat-label>
          <input matInput [matDatepicker]="datePicker" formControlName="dataAula" required>
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-row">
          <mat-label>Hora da Aula</mat-label>
          <input matInput type="time" formControlName="horaAula" required>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Local</mat-label>
          <input matInput placeholder="Local" formControlName="local">
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" formControlName="link">
        </mat-form-field>
      </div>
      <div class="full-width button-position-end">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </mat-dialog-content>
  