<div class="app-container">
    <mat-card class="app-card">
      <mat-card-header>
        <mat-card-title>Minhas Bancas</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <ng-container *ngIf="bancasOrientador.length > 0; else semInformacoes">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="aluno">
              <mat-header-cell *matHeaderCellDef>Aluno</mat-header-cell>
              <mat-cell class="text-justify" *matCellDef="let banca">
                {{ banca.alunoOrientado.nomeCompleto }}
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="projeto">
              <mat-header-cell *matHeaderCellDef>Projeto</mat-header-cell>
              <mat-cell *matCellDef="let banca">{{ banca.projeto.nome }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="professorOrientador">
              <mat-header-cell *matHeaderCellDef>Professor Orientador</mat-header-cell>
              <mat-cell *matCellDef="let banca" [ngClass]="{'blue-text': banca.professorOrientador.id === usuarioLogado?.id}">
                {{ banca.professorOrientador.nomeCompleto }}
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="avaliador1">
              <mat-header-cell *matHeaderCellDef>Avaliador 01</mat-header-cell>
              <mat-cell *matCellDef="let banca" [ngClass]="{'blue-text': banca.avaliador01.id === usuarioLogado?.id}">
                {{ banca.avaliador01.nomeCompleto }}
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="avaliador2">
              <mat-header-cell *matHeaderCellDef>Avaliador 02</mat-header-cell>
              <mat-cell *matCellDef="let banca" [ngClass]="{'blue-text': banca.avaliador02?.id === usuarioLogado?.id}">
                {{ banca?.avaliador02?.nomeCompleto ?? ' - ' }}
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="ano">
              <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
              <mat-cell *matCellDef="let banca">{{ banca.ano }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="semestre">
              <mat-header-cell *matHeaderCellDef>Semestre</mat-header-cell>
              <mat-cell *matCellDef="let banca">{{ banca.semestre }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="statusConfirmada">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let banca" [ngClass]="banca.bancaConfirmada ? 'confirmed-status' : 'unconfirmed-status'">
                {{ banca.bancaConfirmada ? 'Confirmada' : 'Não Confirmada' }}
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="dataDefesa">
              <mat-header-cell *matHeaderCellDef>Data de Defesa</mat-header-cell>
              <mat-cell *matCellDef="let banca">{{ (banca.dataDefesa | date) ?? ' - ' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status de Aprovação</mat-header-cell>
              <mat-cell *matCellDef="let banca">{{ banca.status || ' - '}}</mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </ng-container>
  
        <ng-template #semInformacoes>
          <app-sem-informacoes></app-sem-informacoes>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  