<div class="app-container">
    <mat-card class="app-card">
        <mat-card-header>
            <mat-card-title>Detalhes do TCC</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
            <ng-container *ngIf="orientacao; else semInformacoesForm">
                <form>
                    <div class="form-container">
                        <mat-form-field class="form-row">
                            <mat-label>Orientador</mat-label>
                            <input matInput [(ngModel)]="orientacao.professorOrientador.nomeCompleto" name="responsavel" readonly>
                        </mat-form-field>
                        
                        <mat-form-field class="form-row">
                            <mat-label>E-mail do Orientador</mat-label>
                            <input matInput [(ngModel)]="orientacao.professorOrientador.email" name="emailResponsavel" readonly>
                        </mat-form-field>
                    </div>

                    <div class="form-container">
                        <mat-form-field class="form-row">
                            <mat-label>Nome</mat-label>
                            <input matInput [(ngModel)]="orientacao.projeto.nome" name="nome" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-row">
                            <mat-label>Status</mat-label>
                            <input matInput [(ngModel)]="statusAprovacao" name="status" readonly>
                        </mat-form-field>
                    </div>
                    
        <ng-container *ngIf="banca != null">
            <mat-card-header>
                <mat-card-title>Banca Avaliadora {{banca.ano}}/{{banca.semestre}}</mat-card-title>
            </mat-card-header>
                        
            <div class="form-container">
                <mat-form-field class="form-row">
                    <mat-label>Professor Orientador</mat-label>
                    <input matInput [(ngModel)]="banca.professorOrientador" name="professorOrientador" readonly>
                </mat-form-field>
                <mat-form-field class="form-row">
                    <mat-label>Avaliador</mat-label>
                    <input matInput [(ngModel)]="banca.avaliador01" name="avaliador01" readonly>
                </mat-form-field>

                <mat-form-field class="form-row">
                    <mat-label>Avaliador</mat-label>
                    <input matInput [(ngModel)]="banca.avaliador02" name="avaliador02" readonly>
                </mat-form-field>
            </div>
        </ng-container>
        
                    
                </form>
            </ng-container>

            <ng-template #semInformacoesForm>
                <app-sem-informacoes></app-sem-informacoes>
            </ng-template>
        </mat-card-content>
        <div class="button-position-end" *ngIf="orientacao">
            <button mat-raised-button color="primary" (click)="enviarEmail(orientacao.professorOrientador.email, orientacao.projeto.nome)">
                Entrar em Contato
            </button>
        </div>
        
    </mat-card>
</div>
