<div class="app-container">
    <mat-card class="app-card">
        <mat-card-header>
            <mat-card-title>Detalhes do TCC</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
            <ng-container *ngIf="orientacao; else semInformacoesForm">
                <form>
                    <div class="form-container">
                        <mat-form-field class="form-row">
                            <mat-label>Orientador</mat-label>
                            <input matInput [(ngModel)]="orientacao.professorOrientador.nomeCompleto" name="responsavel" readonly>
                        </mat-form-field>
                        
                        <mat-form-field class="form-row">
                            <mat-label>E-mail do Orientador</mat-label>
                            <input matInput [(ngModel)]="orientacao.professorOrientador.email" name="emailResponsavel" readonly>
                        </mat-form-field>
                    </div>

                    <div class="form-container">
                        <mat-form-field class="form-row">
                            <mat-label>Nome</mat-label>
                            <input matInput [(ngModel)]="orientacao.projeto.nome" name="nome" readonly>
                        </mat-form-field>
                    </div>
                    <div class="form-container">
                        <mat-form-field class="form-row">
                            <mat-label>Status</mat-label>
                            <input matInput [(ngModel)]="statusAprovacao" name="status" readonly>
                        </mat-form-field>
                    </div>
                    
                    
        <ng-container *ngIf="banca != null">
            <mat-card-header>
                <mat-card-title>Banca Avaliadora {{banca.ano}}/{{banca.semestre}}</mat-card-title>
            </mat-card-header>
                        
            <div class="form-container">
                <mat-form-field class="form-row">
                    <mat-label>Professor Orientador</mat-label>
                    <input matInput [(ngModel)]="banca.professorOrientador.nomeCompleto" name="professorOrientador" readonly>
                </mat-form-field>
                <mat-form-field class="form-row">
                    <mat-label>Avaliador 01</mat-label>
                    <input matInput [(ngModel)]="banca.avaliador01.nomeCompleto" name="avaliador01" readonly>
                </mat-form-field>

                <mat-form-field class="form-row" *ngIf="banca.avaliador02 != null">
                    <mat-label>Avaliador 02</mat-label>
                    <input matInput [(ngModel)]="banca.avaliador02.nomeCompleto" name="avaliador02" readonly>
                </mat-form-field>

                <mat-form-field class="form-row">
                    <mat-label>Status Banca</mat-label>
                    <input matInput 
                           [value]="banca.bancaConfirmada ? 'Confirmada' : 'Pendente'" 
                           name="statusBanca" 
                           readonly>
                  </mat-form-field>

                  <mat-form-field class="form-row">
                    <mat-label>Data de Defesa</mat-label>
                    <input matInput 
                           [value]="banca.dataDefesa != null ? banca.dataDefesa : ' - '" 
                           name="dataDefesa" 
                           readonly>
                  </mat-form-field>

                  <mat-form-field class="form-row">
                    <mat-label>Resultado</mat-label>
                    <input matInput 
                           [value]="banca.status === null ? ' - ' : (banca.status ? 'Aprovado' : 'Reprovado')" 
                           name="statusBanca" 
                           readonly >
                  </mat-form-field>
                  
                  

            </div>
        </ng-container>

        <ng-container *ngIf="banca == null">
            <mat-card-header>
                <ng-container >
                    <mat-card-title>Banca Avaliadora</mat-card-title>
                </ng-container>
            </mat-card-header>
            <div class="sem-informacoes-container">
                <p class="sem-informacoes-text">Pendente</p>
            </div>
        </ng-container>
                </form>
            </ng-container>

            <ng-template #semInformacoesForm>
                <app-sem-informacoes></app-sem-informacoes>
            </ng-template>
        </mat-card-content>
        <div class="button-position-end" *ngIf="orientacao">
            <button mat-raised-button color="primary" *ngIf="orientacao.turma?.nPoc == 1" disabled="orientacao?.anexoTao" (click)="openEnviarTaoDialog()">
                Enviar TAO
            </button>
            <button mat-raised-button color="primary" (click)="enviarEmail(orientacao.professorOrientador.email, orientacao.projeto.nome)">
                Entrar em Contato
            </button>
        </div>
        
    </mat-card>
</div>
