.table-and-button-container {
    display: flex; /* Torna os elementos filhos flexíveis */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
  }
  
  .table-container {
    flex: 1; /* A tabela ocupará todo o espaço disponível */
    margin-right: 16px; /* Adiciona um espaço à direita do botão */
  }
/* minha-conta.component.css */
 
.mat-card-title {
    font-size: 24px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-top: 16px;
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-raised-button {
    margin-top: 20px;
  }

  .form-container{
    display: flex;
    justify-content: space-between;
  }
  .form-row{
    flex-grow: 1;
    margin: 5px;
  }

  button{
    margin-top: 15px !important;
  }

  .sem-informacoes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .sem-informacoes-text {
    font-size: 20px; 
  }

  .aprovado {
    color: green;
    font-weight: bold; /* Torna o texto em negrito */
  }
  
  .reprovado {
    color: red;
    font-weight: bold; /* Torna o texto em negrito */
  }
  