
<mat-list-item [routerLink]="'/home'">
    <div class="centered-content">
        <mat-icon>dashboard</mat-icon><span class="title-menu">Orientador</span>
    </div>
    
</mat-list-item>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Agenda
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/compromissos'">
            <span class="text-list-item">Compromissos</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Orientações
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/meusalunospoc1'">
            <span class="text-list-item">Meus Alunos POC 1</span>
        </a>
        <a mat-list-item [routerLink]="'/meusalunospoc2'">
            <span class="text-list-item">Meus Alunos POC 2</span>
        </a>
        <a mat-list-item [routerLink]="'/bancasdefesa'">
            <span class="text-list-item">Bancas</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Projetos
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/projetosorientador'">
            <span class="text-list-item">Meus Projetos</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Tarefas
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/tarefas'">
            <span class="text-list-item">Minhas Tarefas</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>




