.coluna-projeto {
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
  }

  .checkbox-column {
    width: 80px !important; /* Define a largura da coluna para 50px */
    min-width: 80px !important;
    max-width: 80px !important;
  }