<mat-list-item [routerLink]="'/home'">
    <div class="centered-content">
        <mat-icon>dashboard</mat-icon><span class="title-menu" *ngIf="turmaUsuario">{{turmaUsuario.descricao}}</span>
    </div>
    
</mat-list-item>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Agenda
    </mat-expansion-panel-header>
    <mat-nav-list>
        <!-- <a mat-list-item routerLink="#">
            <span class="text-list-item">Calendário</span>
        </a> -->
        <a mat-list-item [routerLink]="'/aulasaluno'">
            <span class="text-list-item">Próximos Aulas</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Projetos
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/meuprojeto'">
            <span class="text-list-item">Projeto Atual</span>
        </a>
        <a mat-list-item [routerLink]="'/projetosdisponiveis'">
            <span class="text-list-item">Projetos Disponíveis</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Tarefas
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/tarefasaluno'">
            <span class="text-list-item">Ver Tarefas</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>