.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-sidenav-tolbar{
    height: 3.5rem;
}

.app-sidenav-footer{
    height: 1.5rem;
}

.app-sidenav-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: calc(100vh - 5rem);
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

.centered-content {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
  }

  .title-menu{
    margin-left: 1rem;
    font-weight: bold;
    font-size: large;
  }
  .text-list-item{
    font-size: small;
    word-wrap: break-word;
    white-space: normal !important;
  }