<div class="app-container">
    <mat-card class="app-card">
      <mat-card-header>
        <mat-card-title>Alunos</mat-card-title>
      </mat-card-header>
      <div class="button-position-end">
        <button mat-raised-button color="primary" (click)="adicionarAluno()">Adicionar Aluno</button>
        <button mat-raised-button color="primary" (click)="gerarRelatorio()">Gerar relatório de alunos</button>
      </div>
  
      <mat-card-content>
        <ng-container *ngIf="usuarios.length > 0; else semInformacoes">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nomeCompleto">
              <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
              <mat-cell *matCellDef="let usuario">{{ usuario?.usuario?.nomeCompleto || ' - ' }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="cpf">
              <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
              <mat-cell *matCellDef="let usuario">{{ usuario?.usuario?.cpf || usuario?.preRegistro?.cpf }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="matricula">
              <mat-header-cell *matHeaderCellDef>Matrícula</mat-header-cell>
              <mat-cell *matCellDef="let usuario">{{ usuario?.usuario?.matricula || usuario?.preRegistro?.matricula }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="turma">
              <mat-header-cell *matHeaderCellDef>Turma</mat-header-cell>
              <mat-cell *matCellDef="let usuario">{{ usuario?.turmaAluno?.descricao || ' - ' }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="cadastrado">
              <mat-header-cell *matHeaderCellDef>Cadastrado</mat-header-cell>
              <mat-cell *matCellDef="let usuario">{{ usuario?.preRegistro?.cadastrado != null ? (usuario?.preRegistro?.cadastrado ? 'Sim' : 'Não') : 'Sim' }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let usuario">
                <button mat-raised-button color="primary" (click)="editarusuario(usuario)">Editar</button>
                <button mat-raised-button color="warn" (click)="excluirUsuario(usuario?.usuario?.matricula || usuario?.preRegistro?.matricula)">Excluir</button>
              </mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </ng-container>
  
        <ng-template #semInformacoes>
          <app-sem-informacoes></app-sem-informacoes>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  