  
  .full-width {
    width: 100%;
  }

  .buttons-login{
    margin: 3px;
  }

  .title-center{
    align-self: center;
  }

  .centered-and-resized {
    display: block; /* Certifica-se de que a imagem seja exibida como bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 50%; /* Redimensiona para caber no contêiner */
    height: auto; /* Mantém a proporção original da imagem */
  }