<mat-toolbar>
    <div>
      <span>{{ professorAtual?.id ? 'Editar Professor/Orientador' : 'Adicionar Professor/Orientador' }}</span>
    </div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="ml-auto" aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <mat-dialog-content>
    <form [formGroup]="professorForm">
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Nome Completo</mat-label>
          <input matInput placeholder="Nome Completo" formControlName="nomeCompleto" required>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" required mask="000.000.000-00">
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Matrícula</mat-label>
          <input matInput placeholder="Matrícula" formControlName="matricula" type="number" required>
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field class="form-row">
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select formControlName="tipoUsuario" required>
            <mat-option [value]="2">Professor</mat-option>
            <mat-option [value]="3">Orientador</mat-option>
            <mat-option [value]="4">Professor e Orientador</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="full-width button-position-end">
        <button mat-raised-button color="primary" type="submit" (click)="salvarProfessor()">Salvar</button>
      </div>
    </form>
  </mat-dialog-content>
  