<div class="app-container">
    <mat-card class="app-card">
        <mat-card-header>
            <mat-card-title>Aulas</mat-card-title>
        </mat-card-header>
        <!-- <div class="button-position-end">
            <button mat-raised-button color="primary" (click)="adicionarAula()">Adicionar Aula</button>
          </div> -->
  
        <mat-card-content>
            <ng-container *ngIf="aulas.length > 0; else semInformacoes">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="descricao">
                        <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
                        <mat-cell *matCellDef="let aula">{{ aula.descricao }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nomeProfessor">
                        <mat-header-cell *matHeaderCellDef>Nome Professor</mat-header-cell>
                        <mat-cell *matCellDef="let aula">{{ aula.professor.nomeCompleto }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="turma">
                        <mat-header-cell *matHeaderCellDef>Turma</mat-header-cell>
                        <mat-cell *matCellDef="let aula">{{ aula.turma?.descricao || '-' }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dataAula">
                        <mat-header-cell *matHeaderCellDef>Data da Aula</mat-header-cell>
                        <mat-cell *matCellDef="let aula">{{ parseDate(aula.dataAula) }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="local">
                        <mat-header-cell *matHeaderCellDef>Local</mat-header-cell>
                        <mat-cell *matCellDef="let aula">{{ aula.local || '-' }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
                        <mat-cell *matCellDef="let aula">
                            <button mat-raised-button [disabled]="!aula.link" color="primary" (click)="acessarLink(aula.link)">Acessar</button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="alunos">
                        <mat-header-cell *matHeaderCellDef>Alunos</mat-header-cell>
                        <mat-cell *matCellDef="let aula">
                            <button mat-raised-button color="primary" (click)="mostrarAlunos(aula.turma.id, aula.id)">Ver Todos</button>
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let aula">
                            <button mat-raised-button class="button-yellow" (click)="editarAula(aula.id)">Editar</button>
  
                            <button mat-raised-button color="warn" (click)="excluirAula(aula.id)">Excluir</button>
                        </mat-cell>
                      </ng-container> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
            </ng-container>

            <ng-template #semInformacoes>
                <app-sem-informacoes></app-sem-informacoes>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
