<mat-list-item [routerLink]="'/home'">
    <div class="centered-content">
        <mat-icon>dashboard</mat-icon><span class="title-menu">Coordenador</span>
    </div>
    
</mat-list-item>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Geral
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="'/cadastrousuarios'">
            <span class="text-list-item">Alunos</span>
        </a>
        <a mat-list-item [routerLink]="'/cadastroturmas'">
            <span class="text-list-item">Turmas</span>
        </a>
        <a mat-list-item [routerLink]="'/cadastroprofessororientador'">
            <span class="text-list-item">Professores/Orientadores</span>
        </a>
        <a mat-list-item [routerLink]="'/cadastroaulas'">
            <span class="text-list-item">Aulas</span>
        </a>
        <a mat-list-item [routerLink]="'/cadastrobancas'">
            <span class="text-list-item">Bancas Avaliadoras</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>