.app-container {
    overflow-x: hidden; /* Evita o scroll horizontal */
  }
  
  .app-card {
    width: 100%; /* Ajusta o card para a largura disponível */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
  }
  
  .mat-card-content {
    overflow-wrap: break-word; /* Quebra palavras longas para evitar overflow */
  }
  .documento-texto {
    overflow-wrap: break-word; /* Quebra palavras longas para ajustar ao contêiner */
    white-space: pre-wrap; /* Mantém quebras de linha e espaços no texto */
  }
  