.mat-dialog-container {
    max-width: 600px;
    width: 100%;
  }
  
  mat-dialog-content {
    padding: 20px;
  }
  
  mat-toolbar {
    background-color: #3f51b5; /* Cor de fundo do toolbar */
    color: white; /* Cor do texto no toolbar */
  }
  
  .close-button {
    width: 100%;
    text-align: end;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .ml-auto {
    margin-left: auto;
  }
  .full-width{
    width: 100%;
  }
  /* Adicione mais estilos conforme necessário */
  